#form
  %h1 New event
  = error_messages_for :event 

  - form_for(:event, :url => {:action => "create", :referrer => params[:referrer] } ) do |f| 
    %p
      %b User
      %br
      = f.collection_select(:user_id, @users, :id, :name, :include_blank => "- Select User -")
    %p
      %b Name
      %br
      = f.text_field :name 
    %p
      %b Description
      %br
      = f.text_area :description 
    %p
      %b Estimated time it will take to complete?
      %br
      Hours 
      = f.text_field :hours, :size => 6, :value => "1"
      Minutes  
      = f.text_field :minutes, :size => 6, :value => "0"

    %p
      %b Date to Schedule Event
      %br
      = f.datetime_select :starts_at
    %p
      = f.submit "Create"
    
  = link_to 'Back', events_path 
  